{% assign letter = food.title %}
<div class="food-post" id="{{ letter }}" data-monitor>
  <div class="food-post__banner-wrap">
    <div class="food-post__banner js-lazy" 
      style="background-image: url('/uploads/{{ letter }}.png')" 
      data-src="/uploads/{{ letter }}.png"></div>
  </div>

  <div class="container container--narrow">
    
    <header class="food-post__header">
      <div class="food-post__header__letter">
        {% include letters/{{ letter }}.svg %}
      </div>
      <div>
        <h2 class="food-post__title">is for<br>{{ food.pinyin }}</h2>
        <span class="chinese inline-block mtv0-5"><a href="https://translate.google.com/#zh-CN/en/{{ food.chinese }}" target="_blank" class="underline">{{ food.chinese }}</a></span>
      </div>
    </header>

    <div class="food-post__body rte">
      {{ food.content | markdownify }}
    </div>
    
    {% if food.resources.size > 0 %}
      <footer class="food-post__footer">
        <hr>
        <h5>See also</h5>
        {% for resource in food.resources %}
          {% assign pretty_link = resource.link | split: '://' | last | split: '/' | first | remove: 'www.' %}
          <a href="{{ resource.link }}" target="_blank" class="food-post__link">
            <h4 class="food-post__link__title">{{ resource.text }}</h4>
            <small class="block">{{ pretty_link }}</small>
          </a>
        {% endfor %}
      </footer>
    {% endif %}

  </div>
</div>
