<div class="showcase js-showcase">
  {% for work_title in page.showcase %}
    {% assign work = site.work | where_exp: 'work', 'work.title == work_title' | first %}
    <figure class="showcase-item{% if forloop.first %} showcase-item--active{% endif %} js-showcase-item js-lazy js-manual-lazy" data-src="{{ work.showcase }}" data-title="{{ work.title }}" style="background-image: url('{{ work.showcase }}')"></figure>
  {% endfor %}
</div>
<div class="showcase-captions">
  {% for work_title in page.showcase %}
    {% assign work = site.work | where_exp: 'work', 'work.title == work_title' | first %}
    <div class="row">
      <div class="col col-6 xs-col-12 ml-auto">
        <div class="showcase-caption{% if forloop.first %} showcase-caption--active{% endif %} js-showcase-caption">
          {% include work-preview.html work=work %}
          <span class="showcase__count">{{ forloop.index }}/{{ page.showcase.size }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
