{% assign work = include.work %}
{% capture work_preview %}
<div class="work-preview{% if page.layout == 'index' %} work-preview--index{% endif %}{% unless work.link %} faded faded--light{% endunless %}" id="fnref:{{ work.title | slugify }}">
  {% if work.link %}
    <a href="{{ work.link }}" class="work-preview__link"{% if work.link contains '//' or work.link contains '.pdf' %} target="_blank"{% endif %}>
  {% endif %}
  <span class="work-preview__subtitle">
    {{ work.subtitle | markdownify }}
  </span>
  {% if work.link %}
    </a>
  {% endif %}
  {% if work.footnote and page.layout == 'works' %}
    <sup>
      <a href="#fn:{{ work.title | slugify }}" class="footnote-ref"></a>
    </sup>
  {% endif %}
</div>
{% endcapture %}{{ work_preview | normalize_whitespace | replace: '> <', '><' }}
