{% assign letter = food.title %}
<div class="food-post">
  <div class="food-post__banner" style="background-image: url('/uploads/{{ letter }}.png')"></div>

  <div class="container container--narrow">
    <header class="food-post__header">
      {% include letters/{{ letter }}.svg %}
      <h2>
        is for<br>
        {{ food.pinyin }}
        <small>{{ food.chinese }}</small>
      </h2>
    </header>

    <div class="food-post__body rte">
      {{ food.content | markdownify }}
    </div>
    
    {% if food.resources.size > 0 %}
      <footer class="food-post__footer">
        <h4>See also</h4>
        {% for resource in food.resources %}
          {% assign pretty_link = resource.link | split: '://' | last | remove: 'www.' %}
          {{ resource.text }}
          {{ pretty_link }}
        {% endfor %}
      </footer>
    {% endif %}
    </div>
  </div>
</div>
