<footer class="footer container">
  <hr>
  <div class="row">
    <div class="footer__section col col-3 xs-col-12">
      <h5>A project by</h5>
      <div class="small">
        <a href="https://justinjay.wang">Justin Jay Wang</a>
      </div>
    </div>
    <div class="footer__section col col-3 xs-col-12">
      <h5>Pinyin Resources</h5>
      <ul class="small">
        {% for item in site.data.pinyin %}
          <li><a href="{{ item.link }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer__section col col-3 xs-col-12">
      <h5>More on Taiwanese Food</h5>
      <ul class="small">
        {% for item in site.data.food %}
          <li><a href="{{ item.link }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer__section col col-3 xs-col-12">
      <h5>Thanks for stopping by</h5>
      <div class="small">
        Please share with your friends if you enjoyed this
      </div>
    </div>
  </div>
</footer>

