*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $font-size--html;
  @media (max-width: $bp-md-lg) {
    font-size: $font-size--html-lg;
  }
  @media (max-width: $bp-sm-md) {
    font-size: $font-size--html-md;
  }
}

body {
  font-family: $font-family--body;
  font-weight: $font-weight--body;
  font-size: $font-size--normal;
  line-height: $line-height--normal;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; // TO DO: autoprefix?
  overflow-x: hidden;
  color: $color--fg;
  background: $color--bg;
}

@include selection($color--selection, $color--fg);

img,
video,
iframe {
  width: 100%;
}

img,
video {
  height: auto;
}

svg {
  max-height: 134px; // size of actual asset, and exact height for 60px font-size
}

svg path {
  fill: none;
  stroke: #f55;
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}

hr {
  border: 0;
  border-top: 3px solid currentColor;
  margin-top: $v*0.5;
  margin-bottom: $v*0.5;
}

a {
  text-decoration: none;
  color: inherit;
}

em,
i {
  font-style: italic;
}

u {
  text-decoration-line: underline;
}

h1,
%h1,
h2,
%h2,
h3,
%h3,
h4,
%h4,
h5,
%h5,
h6,
%h6 {
  @extend %uppercase;
}

h1,
%h1 {
  font-size: $font-size--largest;
  line-height: $line-height--tight;
}

h2,
%h2 {
  font-size: $font-size--larger;
}

h3,
%h3 {
  font-size: $font-size--large;
}

h4,
%h4 {
  font-size: $font-size--normal;
}

h5,
%h5,
h6,
%h6 {
  font-size: $font-size--small;
}

small,
.small,
%small {
  font-size: $font-size--small;
}
