*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $font-size--html;
  @media (max-width: $bp-md-lg) {
    font-size: $font-size--html-lg;
  }
  @media (max-width: $bp-sm-md) {
    font-size: $font-size--html-md;
  }
}

body {
  font-family: $font-family--body;
  font-weight: $font-weight--body;
  font-size: $font-size--normal;
  line-height: $line-height--normal;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: $color--fg;
  background: $color--bg;
}

@include selection($color--fg, $color--bg);

img,
video,
iframe {
  width: 100%;
}

img,
video {
  height: auto;
}

svg {
  height: 5.25em;
  @media (max-width: $bp-xs-sm) {
    height: 4.166667em;
  }
}

svg path {
  fill: none;
  stroke: currentColor;
  stroke-width: $stroke;
  vector-effect: non-scaling-stroke;
  @media (max-width: $bp-sm-md) {
    stroke-width: $stroke-md;
  }
}

hr {
  border: 0;
  border-top: $stroke solid currentColor;
  margin-top: $v*0.5;
  margin-bottom: $v*0.5;
  @media (max-width: $bp-sm-md) {
    border-top-width: $stroke-md;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

em,
i {
  font-style: italic;
}

u {
  text-decoration-line: underline;
}

h1,
.h1,
%h1,
h2,
.h2,
%h2,
h3,
.h3,
%h3,
h4,
.h4,
%h4,
h5,
.h5,
%h5,
h6,
.h6,
%h6 {
  @extend %uppercase;
}

h1,
.h1,
%h1 {
  line-height: $line-height--tighter;
  font-size: 6em;
  @media (max-width: $bp-md-lg) {
    font-size: 12vw;
  }
  @media (max-width: 400px) {
    font-size: 2.666667em;
  }
}

h2,
.h2,
%h2 {
  line-height: $line-height--tight;
  font-size: $font-size--larger;
  @media (max-width: $bp-xs-sm) {
    font-size: $font-size--larger-sm;
  }
}

h3,
.h3,
%h3 {
  font-size: $font-size--large;
  @media (max-width: $bp-xs-sm) {
    font-size: $font-size--large-sm;
  }
}

h4,
.h4,
%h4 {
  font-size: $font-size--normal;
}

h5,
.h5,
%h5,
h6,
.h6,
%h6 {
  font-size: $font-size--small;
}

small,
.small,
%small {
  font-size: $font-size--small;
}
