.container,
%container {
  width: 100%;
  max-width: $max-width--container;
  margin-left: auto;
  margin-right: auto;
  padding-left: $outer-gutter;
  padding-right: $outer-gutter;
}

.container--narrow {
  @extend %container;
  max-width: $max-width--container--narrow;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
}

.col {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

.col-1 { width: 1/12*100%; }
.col-2 { width: 2/12*100%; }
.col-3 { width: 3/12*100%; }
.col-4 { width: 4/12*100%; }
.col-5 { width: 5/12*100%; }
.col-6 { width: 6/12*100%; }
.col-7 { width: 7/12*100%; }
.col-8 { width: 8/12*100%; }
.col-9 { width: 9/12*100%; }
.col-10 { width: 10/12*100%; }
.col-11 { width: 11/12*100%; }
.col-12 { width: 100%; }

@media (max-width: $bp-lg-xl) {
  .lg-col-1 { width: 1/12*100%; }
  .lg-col-2 { width: 2/12*100%; }
  .lg-col-3 { width: 3/12*100%; }
  .lg-col-4 { width: 4/12*100%; }
  .lg-col-5 { width: 5/12*100%; }
  .lg-col-6 { width: 6/12*100%; }
  .lg-col-7 { width: 7/12*100%; }
  .lg-col-8 { width: 8/12*100%; }
  .lg-col-9 { width: 9/12*100%; }
  .lg-col-10 { width: 10/12*100%; }
  .lg-col-11 { width: 11/12*100%; }
  .lg-col-12 { width: 100%; }
}

@media (max-width: $bp-md-lg) {
  .md-col-1 { width: 1/12*100%; }
  .md-col-2 { width: 2/12*100%; }
  .md-col-3 { width: 3/12*100%; }
  .md-col-4 { width: 4/12*100%; }
  .md-col-5 { width: 5/12*100%; }
  .md-col-6 { width: 6/12*100%; }
  .md-col-7 { width: 7/12*100%; }
  .md-col-8 { width: 8/12*100%; }
  .md-col-9 { width: 9/12*100%; }
  .md-col-10 { width: 10/12*100%; }
  .md-col-11 { width: 11/12*100%; }
  .md-col-12 { width: 100%; }
}
@media (max-width: $bp-sm-md) {
  .sm-col-1 { width: 1/12*100%; }
  .sm-col-2 { width: 2/12*100%; }
  .sm-col-3 { width: 3/12*100%; }
  .sm-col-4 { width: 4/12*100%; }
  .sm-col-5 { width: 5/12*100%; }
  .sm-col-6 { width: 6/12*100%; }
  .sm-col-7 { width: 7/12*100%; }
  .sm-col-8 { width: 8/12*100%; }
  .sm-col-9 { width: 9/12*100%; }
  .sm-col-10 { width: 10/12*100%; }
  .sm-col-11 { width: 11/12*100%; }
  .sm-col-12 { width: 100%; }
}

@media (max-width: $bp-xs-sm) {
  .xs-col-1 { width: 1/12*100%; }
  .xs-col-2 { width: 2/12*100%; }
  .xs-col-3 { width: 3/12*100%; }
  .xs-col-4 { width: 4/12*100%; }
  .xs-col-5 { width: 5/12*100%; }
  .xs-col-6 { width: 6/12*100%; }
  .xs-col-7 { width: 7/12*100%; }
  .xs-col-8 { width: 8/12*100%; }
  .xs-col-9 { width: 9/12*100%; }
  .xs-col-10 { width: 10/12*100%; }
  .xs-col-11 { width: 11/12*100%; }
  .xs-col-12 { width: 100%; }
}
