// lazy load

.js {
  .js-lazy {
    opacity: 0;
    transition: opacity $duration--normal;
  }

  .js-post-lazy-loaded {
    opacity: 1;
  }
}

// scroll monitor

.js {
  .js-nav-ghost {
    visibility: hidden;
  }
  .js-nav {
    opacity: 0;
    transition: opacity $duration--fast;
  }
}
.food-nav__link__final {
  .js-nav-link.js-active & {
    opacity: 1;
  }
}
.js-is-sticky {
  .js-nav {
    opacity: 1;
  }
}
