// lazy load

.js {
  .js-lazy {
    opacity: 0;
    transition: opacity $duration--normal;
  }

  .js-post-lazy-loaded {
    opacity: 1;
  }
}

// scroll monitor

.js {
  .js-nav-ghost {
    visibility: hidden;
  }
  .js-nav .header__link {
    visibility: hidden;
  }
  .js-nav-link.js-active {
    @extend %underlined;
  }
}
.js-is-sticky {
  .header {
    visibility: hidden;
  }
  .js-nav {
    position: fixed;
    top: 0;
    bottom: auto;
  }
  .js-nav .header__link {
    visibility: visible;
  }
}
