// lazy load

.js {
  .js-lazy {
    opacity: 0;
    transition: opacity $duration--normal;
  }

  .js-post-lazy-loaded {
    opacity: 1;
  }
}

// scroll monitor

.js {
  .js-nav-ghost {
    visibility: hidden;
  }
  .js-nav-link.js-active {
    .food-nav__link__inner {
      border-bottom-color: currentColor;
    }
  }
}
.js-is-sticky {
  .js-nav {
    position: fixed;
    top: 0;
    bottom: auto;
  }
}
