.header {
}

.footer {
}

.main {
  display: block;
}

.food-post__banner {
  height: 0;
  padding-bottom: 720px;
  @media (max-width: 1280px) {
    padding-bottom: 56.25%; // 9/16
  }
  @media (max-width: 640px) {
    padding-bottom: 360px;
  }
  @include contain;
  background-color: $color--fg;
}

svg {
  max-height: 134px; // size of actual asset, and exact height for 60px font-size
}

svg path {
  fill: none;
  stroke: #f55;
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}