.header {
  padding-top: $v*0.75;
  padding-bottom: $v*0.75;
  @extend %h5;
  position: fixed;
}

.header__items {
  @include flex;
  @include justify-content(space-between);
}

.footer {
  max-width: 1280px;
}

.footer__section {
}

.main {
  display: block;
}

.title {
  max-width: 42em;
  text-align: center;
}

.food-post__banner {
  height: 0;
  padding-bottom: 720px;
  @media (max-width: 1280px) {
    padding-bottom: 56.25%; // 9/16
  }
  @media (max-width: 640px) {
    padding-bottom: 360px;
  }
  @include contain;
  background-color: $color--image-bg;
}

.food-post__header {
  @include flex;
}

.food-post__title {
  display: inline;
}

.food-post svg {
  position: relative;
  top: 0.45em;
  left: -0.1em;
}

.food-post__header__letter {
  margin-right: $gutter;
}

.chinese {
  display: inline-block;
  &:before {
    content: '(';
  }
  &:after {
    content: ')';
  }
}

.food-card {
  text-align: center;
}

.food-card__image {
  height: 0;
  padding-bottom: 100%;
  @include contain;
}
