.header {
  position: fixed;
  z-index: 2;
  top: 0;
}

.header,
.food-nav {
  pointer-events: none;
  width: 100%;
  left: 0;
  right: 0;
}

.food-nav {
  text-align: center;
  position: absolute;
  bottom: $v;
  z-index: 1;
  @media (max-width: $bp-hide-nav) {
    display: none;
  }
}

.header__link,
.food-nav__link {
  pointer-events: auto;
  display: inline-block;
  padding-top: $v;
  padding-bottom: $v;
  @extend %h5;
  @extend %underline;
}

.header__link {
  padding-left: $gutter;
  padding-right: $gutter;
  position: absolute;
}

.header__link--left {
  left: 0;
}

.header__link--right {
  right: 0;
}

.food-nav__link {
  padding-left: 0.333333em;
  padding-right: 0.333333em;
}

.footer {
  max-width: 1280px;
  margin-top: $v*3;
  padding-bottom: $v*3;
}

.footer a {
  @extend %underline;
}

.footer__section {
  margin-top: $v*0.5;
  margin-bottom: $v;
}

.footer__section__title {
  margin-bottom: $v*0.333333;
}

.main {
  display: block;
}

.main--homepage__header {
  padding-top: $v*1.5;
  padding-bottom: $v*6;
  position: relative;
  @media (max-width: $bp-hide-nav) {
    padding-bottom: $v*4;
  }
}

.main--homepage__header__title {
  text-align: center;
  max-width: 44em;
  margin-top: $v*6;
  margin-bottom: $v*6;
  @media (max-width: $bp-md-lg) {
    max-width: none;
    margin-top: 15vw;
    margin-bottom: 15vw;
  }
}

.food-posts {
  margin-bottom: $v*9; 
}

.food-post__banner-wrap {
  background-color: $color--image-bg;
}

.food-post__banner {
  height: 0;
  padding-bottom: 720px;
  @media (max-width: 1280px) {
    padding-bottom: 56.25%; // 9/16
  }
  @media (max-width: 640px) {
    padding-bottom: 360px;
  }
  @include contain;
  margin-bottom: $v*2;
  @media (max-width: $bp-xs-sm) {
    margin-bottom: $v*1.5;
  }
}

.food-post__header {
  @include flex;
  margin-bottom: $v*1.5;
}

.food-post__body {
  margin-bottom: $v*2.5;
}

.food-post__footer {
  margin-bottom: $v*5;
}

.food-post__title {
  display: inline;
  margin-right: 0.1em;
  margin-bottom: $v*0.25;
}

.food-post svg {
  position: relative;
  top: 0.45em;
  left: -0.1em;
  @media (max-width: $bp-xs-sm) {
    top: 0.35em;
  }
}

.food-post__header__letter {
  margin-right: $gutter;
}

.food-post__link {
  display: block;
  margin-bottom: $v*0.833333;
  &:first-of-type {
    margin-top: $v*0.833333;
  }
}

.food-post__link:hover {
  .food-post__link__title {
    text-decoration: underline;
  }
}

.chinese {
  &:before {
    content: '(';
  }
  &:after {
    content: ')';
  }
}

.main--archive {
  margin-top: $v*6;
}

.food-card {
  text-align: center;
  display: block;
  position: relative;
  height: 0;
  min-height: 320px;
  margin-bottom: $gutter;
  padding-bottom: 133.333333%;
}

.food-card__item {
  position: absolute;
  left: 0;
  width: 100%;
  @include transform(translateY(-50%));
}

.food-card__item--letter {
  top: 25%;
}

.food-card__item--image {
  top: 45%;
  padding: 8.333333%;
}

.food-card__item--title {
  top: 77.5%;
}

.food-card__item--title__title {
  .food-card:hover & {
    text-decoration: underline;
  }
}

.food-card__image {
  height: 0;
  padding-bottom: 100%;
  @include contain;
}
