.header {
  padding-top: $v*0.75;
  padding-bottom: $v*0.75;
  @extend %h5;
  position: fixed;
  transition: background-color $duration--normal, box-shadow $duration--normal;
  &:hover {
    background-color: $color--bg;
    box-shadow: 0 0 10px rgba(0,0,0,0.12);
  }
}

.header__items {
  @include flex;
  @include justify-content(space-between);
}

.footer {
  max-width: 1280px;
}

.footer__section {
}

.main {
  display: block;
}

.title {
  max-width: 42em;
  text-align: center;
}

.food-post__banner {
  height: 0;
  padding-bottom: 720px;
  @media (max-width: 1280px) {
    padding-bottom: 56.25%; // 9/16
  }
  @media (max-width: 640px) {
    padding-bottom: 360px;
  }
  @include contain;
  background-color: $color--accent;
}

.food-post__title {
  display: inline;
}

.chinese {
  display: inline-block;
  &:before {
    content: '(';
  }
  &:after {
    content: ')';
  }
}

.food-card {
  text-align: center;
}

.food-card__image {
  height: 0;
  padding-bottom: 100%;
  @include contain;
}

.food-card svg {
  height: 6em;
}