// Colors

$color--bg: #fff;
$color--fg: #f44;
$color--accent: #ff4;
$color--image-bg: #ee4;

// Typography

$font-size--html:    24px;
$font-size--html-lg: 21px;
$font-size--html-md: 18px;

$font-size--largest:    3.833333em;
$font-size--larger:     2.5em;
$font-size--larger-sm:  2em;
$font-size--large:      1.5em;
$font-size--normal:     1em;
$font-size--small:      0.75em;

$font-family--body: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
$font-weight--body: 700;

$line-height--normal: 28 / 24;
$line-height--tight:  1;

// Sizing & Spacing

$v:     $line-height--normal * 1em;
$v-rem: $line-height--normal * 1rem;

// Grid

$max-width--container--wide:   1680px;
$max-width--container--narrow: 28rem;

// xs | sm | md | lg | xl
$bp-xs-sm: 576px;
$bp-sm-md: 864px;
$bp-md-lg: 1152px;
$bp-lg-xl: 1440px;

$bp-hide-nav: 680px;

$g:               $v-rem * 0.875;
$outer-gutter:    $g;
$gutter:          $g;

// Miscellaneous

$duration--fast:   0.25s;
$duration--normal: 0.5s;

$stroke:    3px;
$stroke-md: 2px;

$underline-thickness: 0.125em;