<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo title=false %}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{ site.url }}{{ site.social_image }}" />
    <meta property="og:image:width" content="1400" />
    <meta property="og:image:height" content="900" />
    <title>{{ page.title | default: site.title }}{% if page.layout != 'homepage' %} — {{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/assets/styles/all.css" />
    <link rel="icon" href="/assets/images/favicon.ico" />
    <script type="text/javascript">
      document.documentElement.className = 'js';
    </script>
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </head>
  <body class="body body--{{ page.layout }}">
    {% include header.html %}
    <main class="main main--{{ page.layout }}">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="/assets/scripts/all.js"></script>
  </body>
</html>
