---
layout: default
---

{% assign foods = site.foods | sort: 'position' %}

<header class="main--homepage__header" id="home">
  <div class="container main--homepage__header__title">
    <img src="{{ site.baseurl }}/uploads/all.png" class="main--homepage__image">
    <h1 class="title">{{ page.title }}</h1>
    <div class="subtitle">{{ page.subtitle | markdownify }}</div>
  </div>
</header>

{% include food-nav.html %}

<div class="about container container--narrow rte" data-monitor>
  {{ page.content | markdownify }}
</div>

<div class="food-posts">
  {% for food in foods %}
    {% include food-post.html %}
  {% endfor %}
</div>
