---
layout: default
---

{% assign foods = site.foods | sort: 'position' %}

<header class="main--homepage__header">
  <div class="container main--homepage__header__title">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="container container--narrow rte">
    {{ page.content | markdownify }}
  </div>

  <nav class="food-nav js-nav">
    {%- for food in foods -%}
      <a href="#{{ food.title }}" class="food-nav__link">{{ food.title }}</a>
    {%- endfor -%}
  </nav>
</header>

<div class="food-posts">
  {% for food in foods %}
    {% include food-post.html %}
  {% endfor %}
</div>
